---
export const prerender = true;
import { type CollectionEntry, render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import PrivacyLock from '../../components/PrivacyLock.astro';
import { getBlogPosts } from '../../lib/content';

export async function getStaticPaths() {
	const posts = await getBlogPosts();
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await render(post);

const isProtected = !!post.data.password;

// Find other posts in the same series
const allPosts = await getBlogPosts();
const seriesPosts = post.data.series 
	? allPosts
		.filter(p => p.data.series === post.data.series)
		.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
	: [];
---

<BlogPost {...post.data} id={post.id} headings={headings} seriesPosts={seriesPosts}>
	{isProtected && <PrivacyLock slug={post.id} />}
    <div id="protected-content" class={isProtected ? 'hidden' : ''}>
	    <Content />
    </div>
</BlogPost>

<style>
    .hidden {
        display: none;
    }
</style>
