---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[
	className, 
	"relative py-2 transition-all hover:text-brand",
	isActive ? "text-brand font-bold" : "text-muted-foreground"
]} {...props}>
	<slot />
	{isActive && (
		<span class="absolute -bottom-1 left-0 w-full h-0.5 bg-brand origin-left transition-transform duration-300"></span>
	)}
</a>
